@charset 'UTF-8';
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/

html {
    font-size: 62.5%;
}

body {
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;

    letter-spacing: .1em;

    color: #4c4c4c;
    background-color: #fdfcf6;
}

a {
    text-decoration: none;

    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

/* Align
------------------------------------------------------------*/

.text-center {
    text-align: center;
}

/* Layout
------------------------------------------------------------*/

.block-center,
section .container,
#skills i {
    display: block;

    margin-right: auto;
    margin-left: auto;
}

/* Font
------------------------------------------------------------*/

.abel,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore {
    font-family: 'Abel', sans-serif;
}

.uppercase,
section h2,
#skills h3,
#works .works-box a .works-box-inner .button-readmore {
    text-transform: uppercase;
}

/* Header
------------------------------------------------------------*/

.box {
    background-image: url("../images/image_fuwari.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 768px) {
    .box {
        height: 250px
    }
}

/* Contents
------------------------------------------------------------*/

section {
    padding: 60px 0;
}

section .container {
    width: 90%;
    margin: 0 auto;
}

section h2 {
    font-size: 32px;
    font-size: 3.2rem;
}

#skills {
    background-color: #ffbcff;
}

#skills .container {
    display: -webkit-flex;
    display: flex;

    justify-content: space-between;
}

#skills h2 {
    margin-bottom: 60px;

    color: #fdfcf6;
}

#skills .skill-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 32%;
    padding: 20px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fdfcf6;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #skills .skill-box {
        width: 100%;
        margin-bottom: 20px;
    }
}

#skills i {
    font-size: 45px;
    font-size: 4.5rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;

    text-align: center;

    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #000000;

}

#skills h3 {
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 10px;

    color: #000000;
}

#contact ul {
    margin-top: 60px;

    text-align: center;
}


/* Footer
    ------------------------------------------------------------*/

footer {
    padding: 10px 0;

    text-align: center;

    color: #000000;
    background-color: #fffff;

}

footer p {
    width: 300px;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffbcff;
}
